<div class="">





<div class="k m">

    <div class="e dz">
        <h1 class="aom aqg ed x">SuaNiA</h1>
        <p class="dv alx amr">La culture du beau !!!</p>
<p> <h4 class="text-danger"> <strong> Nous travaillons, afin de vous produire des oeuvres d'arts pour vos demeures et vos endroits tout à vous.</strong></h4>  </p>

    </div>
</div>





    <!--diaporama-->

    <div id="creation" class="k aod amf amc amd">



        <div class="row" >
            <div class="col-md-offset-2 col-md-9" >
                <ul class="rslides">
                    <li><img src="img/trinity.jpg" /></li>
                    <li> <img src="img/love.jpg" /></li>
                    <li> <img src="img/ange.jpg" /></li>
                    <li> <img src="img/naissance.jpg" /></li>

                </ul>
            </div>


        </div>
    </div>


<div id="section2" class="k">
    <div class=" col-md-offset-2 col-md-9 row">
       <div class="container">
           <div class="col-md-6">
               <div class="tab-content">
                   <div role="tabpanel" class="tab-pane active" id="mariage">
                       <div class="row">
                           <div class="col-sm-12 col-md-6">
                               <a href="#" class="thumbnail">
                                   <img src="/img/wedd.JPG" alt="Mariage">
                               </a>
                           </div>
                           <p> <h4 class="">Un jour unique à immortaliser de façon  particulière</h4></p>
                       </div>
                   </div>

                   <div role="tabpanel" class="tab-pane" id="naissance">
                       <div class="row">
                           <div class="col-sm-12 col-md-6">
                               <a href="#" class="thumbnail">
                                   <img src="/img/naissance.jpg" alt="Suania">
                               </a>
                           </div>
                           <p> <h4>Moment inoubliable !!</h4>
                           </p>
                       </div>
                   </div>

                   <div role="tabpanel" class="tab-pane" id="decoration">
                       <div class="row">
                           <div class="col-sm-12 col-md-6">
                               <a href="#" class="thumbnail">
                                   <img src="/img/akwaba.jpg" alt="Suania">
                               </a>
                           </div>
                           <p> <h4>L'hospitalité légendaire des Ivoiriens (Akwaba).</h4>

                           </p>

                           <div>
                               <div class="col-sm-12 col-md-6">
                                   <a href="#" class="thumbnail">
                                       <img src="/img/ange.jpg" alt="Suania">
                                   </a>
                               </div>
                               <p> <h4>Un Ange pour votre sejour!!.</h4>
                               </p>
                           </div>
                       </div>
                   </div>

                   <div role="tabpanel" class="tab-pane" id="nappe">
                       <div class="row">
                           <div class="col-sm-12 col-md-6">
                               <a href="#" class="thumbnail">
                                   <img src="/img/cygne-site.jpg" alt="Suania">
                               </a>
                           </div>
                           <p> <h4> Broder des motifs particuliers.</h4>
                           </p>
                       </div>
                   </div>

                   </div>

                   </div>






        <!-- DEBUT DU MENU VERTICAL-->

        <div class="col-md-2">

            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active">
                    <a href="#mariage" role="tab" data-toggle="tab">Mariage</a>
                </li>
                <li role="presentation">
                    <a href="#naissance" role="tab" data-toggle="tab">Naissance</a>
                </li>
                <li role="presentation">
                    <a href="#decoration" role="tab" data-toggle="tab">Decoration</a>
                </li>
               <!-- <li role="presentation">
                    <a href="#nappe" role="tab" data-toggle="tab">Nappes</a>
                </li>-->
            </ul>

        </div>

       </div>
               </div>


           </div>


       </div>





                </div>
</div>



    <div id="suania">
        <div class="k aod bg">
            <div class="e dz t" data-transition="entrance">
                <blockquote class="aqa">
                    <img class="dl" src="img/porte-cle.jpg">
                    <p>
                        “La décoration de  votre intérieur est le reflet de vos attraits et particularités.
                        La culture occupe une grande place dans notre propre personnalité.
                        <!--La notre par ailleurs en est aussi sujette.--> <br/>
                        Nous essayons de vous offrir le meilleur possible via la broderie. <br/>
                        Cultivons le beau!!!”
                    </p>
                    <p class="">SuaNiA</p>
                </blockquote>
            </div>
        </div>
    </div>




    <div id="produit">
    <div class="k aod">
        <div class="e">
            <div class="c">
                <div class="gc jt dz alx">
                    <p class="dv alm">Grâce à notre expérience en  matière<strong>
                        de broderie, notre passion </strong> nous vous proposons ces differents produits .</p>
                </div>
            </div>
            <div class="c">
                <div class="fu">
                    <ul class="cv">
                        <li class="alx">
                            <div class="apf eg">
                              <i class="glyphicon glyphicon-check"></i>  <!--<span class="a acm"></span>-->
                            </div>
                            <p class="ape alb"><strong>Tableaux à thèmes </strong></p>
                            <p class="ape">
                                Confections de tableaux avec des thèmes tels que :
                                mariage, naissance, amour ...  <strong>Uniquement sur Commande </strong> <br/>

                            </p>
                        </li>

                        <li class="alx">
                            <div class="apf eg">
                             <i class="glyphicon glyphicon-check"></i>   <!--<span class="a aci"></span>-->
                            </div>
                            <p class="ape alb"><strong>Textille </strong></p>
                            <p class="ape">

                        Porte-clés <br/> Polos <br/> Linge de Table <br/> Draps<br/>  Linge de Toilette

                            </p>
                        </li>

                    </ul>
                </div>
                <div class="fu">
                    <ul class="cv">

                        <li class="alx">
                            <div class="apf eg">
                                <i class="glyphicon glyphicon-check"></i> <!--<span class="a yg"></span>-->
                            </div>
                            <p class="ape alb"><strong>Artistique</strong></p>
                            <p class="ape">
                               Nous créons des univers pour faire de votre maison un endroit tout aussi particulier et unique.
                                Notre culture est notre première source d'inspiration ...
                            </p>
                        </li>

                        <li class="alx">
                            <div class="apf eg">
                                <i class="glyphicon glyphicon-check"></i>  <!--<span class="a aai"></span>-->
                            </div>
                            <p class="ape alb"><strong>Cadeaux Personnalisés</strong></p>
                            <p class="ape">
                                Des idées cadeaux pour tout évènement...
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>








<div id="contact" class="k aod dz bg1">
    <div class="ey">
        <p class="dv alq">

          Ecrivez nous <a href="mailto:suaniasuania@gmail.com"><strong>suaniasuania@gmail.com</strong> </a> !! <a href="mailto:suaniasuania@gmail.com"  class=" "> <i class="glyphicon glyphicon-envelope"></i> </a> <br/>
         <i class="glyphicon glyphicon-earphone"></i> : +225 22 42 55 50
            <i class="glyphicon glyphicon-phone"></i> : +225 59 53 65 55
        </p>

    </div>
</div>



</div>
