<div class="">





<div class="k m">
    <div class="e dz">
        <h1 class="aom aqg ed x">SuaNiA</h1>
        <p class="dv alx amr">La culture du beau !!!</p>
        <img  class="img-responsive" src="img/trinity-site.jpg" >
    </div>
</div>

<div class="k aod">
    <div class="e dz t" data-transition="entrance">
        <blockquote class="aqa">
            <img class="dl" src="img/porte-cle.jpg">
            <p>
                “La décoration de  votre intérieur est le reflet de vos attraits et particularités.
                La culture occupe une grande place dans notre propre personnalité.
                La notre par ailleurs en est aussi sujette. <br/>
                Nous essayons de vous offrir le meilleur possible via la broderie. <br/>
                Cultivons le beau!!!”
            </p>
            <cite>SuaNiA</cite>
        </blockquote>
    </div>
</div>
<div id="section1">
    <div class="k aod ame o">
        <div class="e">
            <div class="c">
                <div class="fz fu">
                    <img
                            src="img/cygne-site.jpg"
                            class="v"
                            data-transition="entrance">
                    <hr class="akz alx alm tv">
                </div>
                <div class="fr fu sl sm">
                    <p class="dv">
                        Nous travaillons, afin de vous produire des oeuvres d'arts idéales  pour vos demeures et vos endroits tout à vous.

                    </p>
                    <div class="c alt">
                        <div class="ft">
                            <div class="aqh">
                                <h1 class="app aom">100%</h1>
                                <span class="apq">Culturel</span>
                            </div>
                        </div>
                        <div class="ft">
                            <div class="aqh">
                                <h1 class="app aom">100%</h1>
                                <span class="apq">Créativite</span>
                            </div>
                        </div>
                    </div>
                    <div class="c um">
                       <div class="ft alx">
                            <div class="aqh">
                                <h1 class="app aom">100%</h1>
                                <span class="apq">artistique</span>
                            </div>
                        </div>
                        <!--   <div class="ft alx">
                              <div class="aqh">
                                  <h1 class="app aom">97%</h1>
                                  <span class="apq">Happiness</span>
                              </div>
                          </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="section2">
    <div class="k aod">
        <div class="e">
            <div class="c">
                <div class="gc jt dz alx">
                    <p class="dv alm">Grâce à notre expérience en la matière<strong> de broderie, notre passion </strong> nous vous proposons ces differents produits .</p>
                </div>
            </div>
            <div class="c">
                <div class="fu">
                    <ul class="cv">
                        <li class="alx">
                            <div class="apf eg">
                                <span class="a acm"></span>
                            </div>
                            <p class="ape alb"><strong>Tableaux à thèmes </strong></p>
                            <p class="ape">
                                Confections de tableaux avec des thèmes tels que : mariage, naissance, amour ... seulement sur commande <br/>

                            </p>
                        </li>

                        <li class="alx">
                            <div class="apf eg">
                                <span class="a aci"></span>
                            </div>
                            <p class="ape alb"><strong>Textille </strong></p>
                            <p class="ape">

                        Porte-clés <br/>  Draps <br/> Serviettes <br/>  Polos <br/> Nappes

                            </p>
                        </li>

                    </ul>
                </div>
                <div class="fu">
                    <ul class="cv">

                        <li class="alx">
                            <div class="apf eg">
                                <span class="a yg"></span>
                            </div>
                            <p class="ape alb"><strong>Artistique</strong></p>
                            <p class="ape">
                               Nous créons des univers pour faire de votre maison un endroit tout aussi particulier et unique.
                                Notre culture est notre première source d'inspiration ...
                            </p>
                        </li>

                        <li class="alx">
                            <div class="apf eg">
                                <span class="a aai"></span>
                            </div>
                            <p class="ape alb"><strong>Stickers</strong></p>
                            <p class="ape">
                               Emoticones, icones,etc.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>





<div id="section3" class="k aod amf amc amd">
  <div class="">
      <div id="carousel-example-generic-2" class="carousel cz slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic-2" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic-2" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic-2" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic-2" data-slide-to="3"></li>

          </ol>
          <div class="di" role="listbox">
              <div class="item active">
                  <div class="k">
                      <div class="e">
                          <div class="c">
                              <div class="gc jt">
                                  <p class="dv alm dz">
                                      Un Ange pour illuminant votre séjour ?
                                      <!--<span class="ul">Disponible sur commande.</span>-->
                                  </p>
                              </div>
                          </div>
                          <img class="dg alv p img-responsive center-block" src="img/ange-site.jpg"  width="700px" height="700px" >
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="k">
                      <div class="e">
                          <div class="c">
                              <div class="gc jt">
                                  <p class="dv alm dz">
                                     L'Amour autrement présenté!!!
                                    <!--  <span class="ul">Well now you can with ease.</span>-->
                                  </p>
                              </div>
                          </div>
                          <img class="dg alv p img-responsive center-block" src="img/cygne-site.jpg" width="700px" height="700px">
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="k">
                      <div class="e">
                          <div class="c">
                              <div class="gc jt">
                                  <p class="dv alm dz">
                                      Une fleur pour vous
                                    <!--  <span class="ul">Well now you can with ease.</span>-->
                                  </p>
                              </div>
                          </div>
                          <img class="dg alv p img-responsive center-block" src="img/flore_site.jpg"  style="align-self: center" width="700px" height="700px">
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="k">
                      <div class="e">
                          <div class="c">
                              <div class="gc jt">
                                  <p class="dv alm dz">
                                     Pour dire je t'aime à quelqu'un ?
                                     <!-- <span class="ul">Well now you can with ease.</span>-->
                                  </p>
                              </div>
                          </div>
                          <img class="dg alv p img-responsive center-block" src="img/love-site.jpg" style="align-self: center" width="700px" height="700px">
                      </div>
                  </div>
              </div>

          </div>
          <a class="left tk" href="#carousel-example-generic-2" role="button" data-slide="prev">
              <span class="a uu" aria-hidden="true"></span>
              <span class="dm">Previous</span>
          </a>
          <a class="right tk" href="#carousel-example-generic-2" role="button" data-slide="next">
              <span class="a uv" aria-hidden="true"></span>
              <span class="dm">Next</span>
          </a>
      </div>
  </div>

</div>


<!--<div id="section4" class="k aod amf amc amd" >
    <div class="">


            <div class="flipbook-viewport">
                <div class="container-fluid">
                    <div class="flipbook">
                        <div class="own-size"  style=" height:100; width:100; background-image:url(/pages/1.jpg)"></div>
                        <div class="own-size"style=" height:100; width:100;background-image:url(/pages/2.jpg)"></div>
                        <div class="own-size" style=" height:100; width:100; background-image:url(/pages/3.jpg)"></div>
                        <div class="own-size" style="height:100; width:100; background-image:url(/pages/4.jpg)"></div>
                        <div class="own-size" style="height:100; width:100; background-image:url(/pages/5.jpg)"></div>
                        <div class="own-size" style=" height:100; width:100; background-image:url(/pages/6.jpg)"></div>
                        <div class="own-size" style="height:100; width:100; background-image:url(/pages/7.jpg)"></div>
                        <div class="own-size" style="height:100; width:100; background-image:url(/pages/8.jpg)"></div>
                        <div class="own-size" style="height:100; width:100; background-image:url(/pages/9.jpg)"></div>
                        <div class="own-size" style="height:100; width:100; background-image:url(/pages/10.jpg)"></div>
                        <div class="own-size" style="height:100; width:100; background-image:url(/pages/11.jpg)"></div>
                        <div class="own-size" style="height:100; width:100; background-image:url(/pages/12.jpg)"></div>
                    </div>
                </div>
            </div>


       &lt;!&ndash; <script type="text/javascript">

            function loadApp() {

                // Create the flipbook

                $('.flipbook').turn({
                    // Width

                    width:922,

                    // Height

                    height:600,

                    // Elevation

                    elevation: 50,

                    // Enable gradients

                    gradients: true,

                    // Auto center this flipbook

                    autoCenter: true

                });
            }

            // Load the HTML4 version if there's not CSS transform

            yepnope({
                test : Modernizr.csstransforms,
                yep: ['/js/turn.js'],
                nope: ['/js/turn.html4.min.js'],
                both: ['/css/basic.css'],
                complete: loadApp
            });

        </script>&ndash;&gt;
</div>
</div>-->
<!--<div  id="section5" class="k aod any ame q">
    <div class="e">
        <div class="c akr">
            <div class="fy sl sm">
                <p class="dv">
                   Une boutique afin de rendre accéssibles nos créations , pour votre plus grand plaisir.
                    Des commandes en ligne,et un service afin de vous offrir le meilleur plus rapidement.
                </p>
                <div class="c">
                    <div class="fl">
                        <div class="aqh">
                            <h1 class="app aom">+50</h1>
                            <span class="apq">Articles</span>
                        </div>
                    </div>
                    <div class="fl">
                        <div class="aqh">
                            <h1 class="app aom">1</h1>
                            <span class="apq">Social Network</span><br/>
                            <span class="apq"><a href="www.facebook.com/suania225"> Facebook &nbsp; </a></span>

                        </div>
                    </div>
                    <div class="fl">
                        <div class="aqh">
                            <h1 class="app aom">1</h1>
                            <span class="apq"><a href="#">SuaNiA Shop en ligne</a></span><br/>
                            <span class="apq"><small class="text-danger">En construction</small></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dy r">
        <img src="img/love-site.jpg" height="auto" width="400px" class="u" data-transition="entrance">
    </div>
</div>-->

<div id="section6" class="k aod dz">
    <div class="ey">
        <p class="dv alq">

           Ecrivez nous <a href="mailto:suaniasuania@gmail.com"><strong>suaniasuania@gmail.com</strong> </a> !! <a href="mailto:suaniasuania@gmail.com"  class=" "> <i class="glyphicon glyphicon-envelope"></i> </a> <br/>
         <i class="glyphicon glyphicon-earphone"></i> : +225 22 42 55 50
            <i class="glyphicon glyphicon-phone"></i> : +225 59 53 65 55
        </p>

        <!--  <form class="nw">
            <input class="form-control ali" placeholder="Email Address">
            <input class="form-control ali" type="password" placeholder="Create a Password">
            <button  class="cs od ali"><a href=""></a></button>
          </form>-->

        <!--<small class="ef">
          By clicking "Get started" I agree to Mochi's
          <a href="#">Terms of service</a>
        </small>-->
    </div>
</div>



</div>
